@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.homecontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.imagecontent{
  width: 1020px;
  height: 748px;
}

.slogan {
  width: 500px;
  height: 748px;
  padding-left: 50px;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: left;      /* centers the h1 text */
  font-weight: 100;
}

.slogan p{
  font-size: 50px;
  font-weight: 600;
}

.textcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}