.nav-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
    width: 100%;
}

.nav-header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: all 0.5s;
    background-color: aquamarine;
}

.nav-brandname {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: color, background-color;
}

.nav-menu a:hover {
    background-color: #727272;
    color: black;
}