@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    z-index: 999;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: all 0.5s;
    background-color: aquamarine;
}

header .brandname{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
}

header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Link element isnt recognized by css, so use a tag */
header .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: color, background-color;
}

header .menu a:hover{
    background-color: #727272;
    color: black;
}
