@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/*Brandname related code*/
.nav-brandname a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
}

.nav-header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #00ad73;
    box-sizing: border-box;
}

.nav-brandname {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu a {
    /*this is the old style*/

    /* font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.5s;
    transition-property: color, background-color; */

    font-size: 16px;
    /* font-weight: 500; */
    text-decoration: none;
    /* background-color: #fff; */
    margin: 0 11px;
    padding: 8px 16px;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.5s;
    /* size: 78px; */
    transition-property: color, background-color;
}

.nav-menu a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}
